# Dependências de pacotes
node_modules/
jspm_packages/

# Arquivos de runtime e cache do banco de dados
database/*.sqlite
database/*.json

# Logs e arquivos de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Pastas de IDE e Editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
